body {
    font-family: Roboto, "Franklin Gothic Medium", "Segoe UI", Tahoma, -apple-system, BlinkMacSystemFont, sans-serif;
    margin: 0;
    min-height: 100vh;
    color: #2c3e50
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ecf0f1;
    padding: 8px;
    height: 10vh;
    font-size: calc(10vh * 0.4);
   
}

.header img {
    height: 100%;
    width: auto;
    object-fit: contain;
    
  }

.header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 2em;
    margin-right: 1em;
    
}

.header ul a {
    text-decoration: none;
    color: #2c3e50;

}

.hero-box {
    height: 450px;
    padding: 2vh 5vw;
    display: flex;
    gap: 5vw;
    background-color: #ffffff;
}

.hero-box-txt,
.hero-box-img {
    flex: 1 1 0;
}

.hero-box-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

.hero-box-txt h1 {
    font-size: 48px;
    margin: 0px;
}  

.hero-box-txt p {
    font-size: 18px;
    /* margin: 0px; */
}
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: #45a049;
}

.historical-adventures {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #efd886;
    height: 450px;
}

.adventure-cards {
    display: flex;
    /* width: 100%; */
    justify-content:center;
    height: calc(100% - 60px);
}

.adventure-cards img {
    max-height: 100%;

    flex: 1 1 0;
    width: auto;
    object-fit: contain;

}

.adventure1, 
.adventure2, 
.adventure3 {
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    /* flex: 1 1 0;
    max-width: 30%;
    max-height: 30vh;
    width: auto;
    height: auto;
    object-fit: contain; */
}

/* contain .adventure# containers within .adventure-cards
imgs should be 2/3 the size of the .adventure# containers,
and txt 1/3

explicit containers needed for the imgs and txt??

colloseum img out of proportion. auto crop imgs to same width??*/