body {
    font-family: Roboto, "Franklin Gothic Medium", "Segoe UI", Tahoma, -apple-system, BlinkMacSystemFont, sans-serif;
    margin: 0;
    min-height: 100vh;
    color: #2c3e50
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ecf0f1;
    padding: 8px;
    height: 10vh;
    font-size: 4vh
   
}

.header img {
    height: 100%;
    width: auto;
    object-fit: contain;
    
  }

.header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 2em;
    margin-right: 1em;
    
}

.header ul a {
    text-decoration: none;
    color: #2c3e50;

}

.hero-box {
    height: 450px;
    padding: 2vh 5vw;
    display: flex;
    gap: 5vw;
    background-color: #ffffff;
    overflow: hidden;
}

.hero-box-txt,
.hero-box-img {
    flex: 1 1 0;
}

.hero-box-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

.hero-box-txt h1 {
    font-size: 9vh;
    margin: 0px;
    flex: 1;
}  

.hero-box-txt p {
    font-size: 3vh;
    max-height: 100%;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: #45a049;
}

.historical-adventures {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #efd886;
    height: 450px;
}

.historical-adventures h1 {
    font-size: 4vh;
}

.adventure-cards {
    /*grows to fill space below h1, and 0 allows it to shrink below contents' native size*/
    flex: 1 1 0; 
    display: flex; /* align adventure-cards 1/2/3 horizontally */
    justify-content:center;
    gap: 10px;
    padding: 0 5vw
}

.adventure-cards-images {
    /* 4:1 ratio within parent container for images:texts, 
    min-height/width allows flexbox to shrink below a child image's native size */
    flex: 4 4 0;
    min-width: 0;
    min-height: 0;
    display: flex;
}

.adventure-cards-texts {
    flex: 1 1 0;
    display: flex; /*uses flexbox to centre text*/
    align-items: center;
    justify-content: center;
    padding: 5px;
    font-size: 3vh;
}

.adventure-cards img {
    /* height/width 100% tells the images to fill their containers
    this will also centre them; otherwise they need to be explicitly aligned */
    height: 100%;
    width: 100%;
    object-fit: contain; /* Maintains aspect ratio while filling container */


}

.adventure1, 
.adventure2, 
.adventure3 {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.customer-testimonials {
    background-color: #ecf0f1;
    height: 300px;
 /* TODO: set para to 1/4 screen width */
}

.customer-testimonials p {
    margin: 0
}

.sign-up-container {
    background-color: #123248;
    height: 300px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    font-size: 2vh;
    background-color: #ecf0f1;
}

/* Boilerplate for the pages under construction */
.under-construction {
    height: 450px;
    padding: 2vh 5vw;
}